black==24.2.0
build==1.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
docutils==0.20.1
exceptiongroup==1.2.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
jaraco.classes==3.3.1
keyring==24.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.2.0
mypy==1.8.0
mypy-extensions==1.0.0
nh3==0.2.15
numpy==1.26.4
packaging==23.2
pathspec==0.12.1
pkginfo==1.10.0
platformdirs==4.2.0
pluggy==1.4.0
Pygments==2.17.2
pyproject_hooks==1.0.0
pytest==8.0.2
python-dateutil==2.9.0.post0
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
ruff==0.3.1
six==1.16.0
-e git+ssh://git@github.com/nlandolfi/srspy.git@dbc3a2b8c233b2b96c6ac91cec81c746d9441b39#egg=srspy
tomli==2.0.1
twine==5.0.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.10.0
urllib3==2.2.1
zipp==3.17.0
